@media (max-width: 768px) {

    /* ------------------------------------------
    -- @media HEADER
    --------------------------------------------> */
	.header-container .wrapper {
        align-items: center; /* D alinha os elementos do wrapper no topo do eixo vertical (secundário) para fins de responsividade */
        height: 	 auto; 	 /* D Somente necessário porque no wrapper existe um height fixo parametrizado */
	}
	
	.header-container .wrapper .mainnav {
		display:    	none; 				       /* D oculta o menu na tela */
		transition: 	max-height 300s ease;
		flex-direction: column;                    /* D define o eixo principal como vertical, organizando os elementos em coluna para o menu abrir verticalmente' */
		background-color: var(--cor-header-fundo); /* D define a cor do background */
		width: 100%;
		padding: 1rem 0; 
	}
	
	.header-container .wrapper .mainnav.active {
		display:    flex;  /* D ativa o Flexbox, permitindo alinhar e controlar os elementos do wrapper em linha (default) ou coluna. */
		max-height: 500px; /* ou o valor que comporte todos os links */
        padding:    1rem;  /* adiciona padding apenas quando aberto */
	}
	
	.header-container .wrapper .icon {
		color: var(--cor-header-mainnav); /* D define a cor da fonte */
		display: block; 	   /* D mostra o ícone hamburguer, o convertendo em  um bloco para que não sofra influência do comportamento inline, respeite as dimensões definidas e não gere espaços colaterais indesejados */
        text-decoration: none; /* D remove o sublinhado padrão dos links (<a>) - obs: não remove a cor. */
        padding: 0.5rem;
	}

    /* ------------------------------------------
    -- @media HERO
    --------------------------------------------> */
    .hero-container .wrapper  {
        flex-direction: column; /* D define o eixo principal como vertical, organizando os elementos em coluna para fins de responsividade */
        text-align: 	center; /* D centraliza o texto dentro do elemento */
        padding: 		1rem;	/* D atribui 1rem uniformemente para padding-top, padding-right, padding-bottom e padding-left */
		gap: 			0.5rem; /* D ajusta o gap entre os blocos de conteúdo para fins de responsividade */
    }

    .hero-container .wrapper .slogan, .hero-container .wrapper .detalhe {
        display: contents;	   /* D remove o próprio elemento do fluxo do layout, fazendo com que seus filhos se comportem como se pertencessem ao pai do elemento que, neste caso, é body(). Foi a solução encontrada para dinimuir a distância vertical entre os blocos slogan e detalhe */
		max-width: 	   90%;    /* D define a largura máxima do conteúdo da seção */
        padding-right: 0;  	   /* D remove a padding lateral no mobile */
        margin-bottom: 0;      /* D define o espaçamento vertical abaixo do elemento */
		text-align:    center; /* D centraliza o texto dentro do elemento */
		margin:        0 auto; /* D Como o flex-diretion mudou de row para column e o max-width ´não está em 100%, torna-se necessário atuar fora do flexbox, centralizando horizontalmente o wrapper e o seu bloco de conteúdo dentro do container, criando espaçamento igual nas laterais até atingir esse limite */
		
    }
    
    .hero-container .wrapper .slogan .titulo {
        font-size:   2.5rem; /* D ajusta o tamanho da fonte da classe titulo do título, bloco Slogan */
        line-height: 3rem;   /* D ajusta o espaçamento vertical entre as linhas do texto */

    }
    
    .hero-container .wrapper .detalhe .descricao {
        font-size:   1.1rem; /* D ajusta o tamanho da fonte da classe descricao, bloco detalhe */
        line-height: 1.5rem; /* D ajusta o espaçamento vertical entre as linhas do texto */
    }

    /* ------------------------------------------
    -- @media NOSSA ATUAÇÃO
    --------------------------------------------> */
    .nossa-atuacao-container .wrapper  {
        text-align: center;		/* D centraliza o texto dentro do elemento */
    }

    .nossa-atuacao-container .wrapper .texto {
		text-align: center; /* D centraliza o texto dentro do elemento */
		padding: 2rem 2rem;
    }

	.nossa-atuacao-container .wrapper .texto .subtitulo {
		margin-bottom: 1rem;  /* ajusta a altura entre o final do subtítulo e o que vem abaixo */
	}
	
	.nossa-atuacao-container .wrapper .texto .descricao {
		margin-bottom: 1rem;  /* ajusta a altura entre o final o subtítulo e o que vem abaixo */
	}

    /* ------------------------------------------
    -- @media LISTA / NOSSA ATUAÇÃO
    --------------------------------------------> */
    .lista-container {
        flex-direction: column; /* D define o eixo principal como vertical, organizando os elementos em coluna para fins de responsividade */
		align-items:    center; /* D centraliza os elementos à esquerda, ao longo do eixo horizontal (secundário) */
    }

	.lista-container .elemento .icone img { /* antigo flex-container-col-teste .list-icon*/
		margin-bottom: 0rem;
		padding: 0;
	}

	.lista-container .elemento .texto h3 { /* antigo flex-container-col-teste h3 */
		margin-top:    0rem;		/* D ajusta o espaçamento vertical acima do elemento */
		margin-bottom: 0rem;
	}

    /* ------------------------------------------
    -- @media QUEM SOMOS
    --------------------------------------------> */
	.quem-somos-container .wrapper {
		flex-direction: column; /* D define o eixo principal como vertical, organizando os elementos em coluna para fins de responsividade */
	}

    .quem-somos-container .wrapper .img {
		display: none;  		 /* D oculta a imagem à esquerda em telas pequenas */
	}

    .quem-somos-container .texto {
		max-width: 	90%;    /* Em telas pequenas (como smartphones), o texto precisa ocupar mais da tela → senão, fica apertado demais. Aqui, o texto vai para máximo de 90% → cria margens laterais de 5% de cada lado → melhora a leitura */
		text-align: center; /* D centraliza o texto dentro do elemento */
		margin: 	0 auto;	/* D Como o flex-diretion mudou de row para column e o max-width ´não está em 100%, torna-se necessário atuar fora do flexbox, centralizando horizontalmente o wrapper e o seu bloco de conteúdo dentro do container, criando espaçamento igual nas laterais até atingir esse limite */
	}

    /* ------------------------------------------
    -- @media COMO TRABALHAMOS 
    --------------------------------------------> */
    .como-trabalhamos-container .wrapper  {
        text-align: center;		/* D centraliza o texto dentro do elemento */
    }

    .como-trabalhamos-container .wrapper .texto {
		text-align: center; /* D centraliza o texto dentro do elemento */
		padding: 2rem 2rem;
    }

	.como-trabalhamos-container .wrapper .texto .subtitulo {
		margin-bottom: 1rem;  
	}

	.como-trabalhamos-container .wrapper .texto .descricao {
		margin-bottom: 1;  
	}

    .como-trabalhamos-container .wrapper .image .img-horizontal {
        display: none;  /* esconde a horizontal */
    }

    .como-trabalhamos-container .wrapper .image .img-vertical {
        display: block; 
        width: 100%;
        max-width: 314px; /* ou outro tamanho ideal da imagem vertical */
        height: auto;     /* mantém a proporção */
    }

    /* ------------------------------------------
    -- @media PARCEIROS
    --------------------------------------------> */
    .parceiros-container .wrapper .logos {
        flex-direction: column; /* D define o eixo principal como vertical, organizando os elementos em coluna para fins de responsividade */
        align-items: center;    /* D centraliza os logos ao longo do eixo horizontal (secundário) */ 
    }

    /* ------------------------------------------
    -- @media FOOTER
    --------------------------------------------> */    
	.footer-container .wrapper {
		flex-direction: column; /* D define o eixo principal como vertical, organizando os elementos em coluna para fins de responsividade */
		align-items:    center; /* D centraliza os elementos ao longo do eixo horizontal (secundário) */
    }

	.footer-container .wrapper .logo {
		text-align:   center; /* D centraliza o texto dentro do elemento */
		padding-left: 0;
	}

    .footer-container .wrapper .contato {
		text-align:    center; /* D centraliza o texto dentro do elemento */
		padding-right: 0;
	}
}
